<h2 class='text-center p-4'>Log in</h2>

<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="row p-1">
      <div class="col-md-9">
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: 'Email' %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="col-md-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me%>
      </div>
      <% end %>
    </div>

    <div class="row p-1">
      <div class="col">
        <%= f.password_field :password,  class: 'form-control', autocomplete: "off", placeholder: "Password" %>
      </div>
    </div>


    <div class="row p-1">
     <div class="col">
        <%= f.submit "Log in", class: 'btn btn-outline-primary btn-block' %>
      </div>
    </div>
   

  <% end %>

  <div class="row p-1">
    <div class="col">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
